/* Start Jumbotron */

.jumbotron {
    background-color: rgba(121, 118, 118, 0.219);
    height: auto;
    padding: 30px;
}

.jumbotron-fluid {
    background: url('../images/blog/jumbotron-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}


/* End Jumbotron */


/* Start Blogs */

.blogs .jumbotron a {
    background-color: rgba(76, 39, 85, 0.774);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
}

.blogs .btn:hover {
    background-color: rgba(51, 51, 51, 0.171);
    color: rgba(128, 0, 128, 0.514);
    border: 1px solid rgba(128, 0, 128, 0.514);
    font-weight: bolder;
}

.blogs img {
    height: 200px;
    width: 200px;
}

.blogs .jumbotron {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.blogs .jumbotron h1 {
    color: rgba(54, 13, 54, 0.726);
}


/* End Blogs */